In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
import pickle
nombre_archivo='tp_wisconsin.sav'
modelo_produccion = pickle.load(open(nombre_archivo, 'rb'))

In [2]:
modelo_produccion

LogisticRegression(max_iter=2000, penalty='none', random_state=123)

In [3]:
df=pd.read_csv('X_para_evaluar.csv')
df

,Clump thickness,Unif_Cell_Size,Unif_Cell_Shape,Marginal_Adhesion,Single_Cell_Size,Bare_Nuclei,Bland_Chromatine,Normal_Nucleoli,Mitoses
0,4.23,9.17,9.57,9.85,9.79,1.45,9.24,9.94,9.12
1,0.19,0.93,0.51,0.82,1.35,0.11,0.48,0.66,0.64
2,4.47,0.09,0.01,0.14,1.60,0.22,1.90,0.68,0.76
3,2.82,0.34,0.03,0.29,1.29,0.40,1.53,0.22,0.82
4,0.76,0.05,0.43,0.85,1.58,0.40,0.39,0.00,0.62
...,...,...,...,...,...,...,...,...,...
95,3.45,0.11,3.93,0.79,1.69,0.35,0.57,0.00,0.34
96,2.24,0.52,0.06,0.66,1.23,0.58,2.97,0.53,0.26
97,4.64,2.59,4.29,4.05,2.67,2.69,3.02,9.56,0.83
98,7.80,2.45,7.79,2.44,3.53,8.57,7.46,8.10,7.65
99,5.82,0.33,0.51,2.26,1.31,0.06,0.76,0.31,0.55

In [4]:
y_pred=modelo_produccion.predict(df)
y_pred

array(['malign', 'benign', 'benign', 'benign', 'benign', 'malign',
       'malign', 'benign', 'benign', 'malign', 'benign', 'benign',
       'malign', 'malign', 'benign', 'benign', 'benign', 'malign',
       'malign', 'benign', 'malign', 'benign', 'benign', 'benign',
       'benign', 'benign', 'benign', 'benign', 'benign', 'malign',
       'benign', 'benign', 'benign', 'malign', 'malign', 'benign',
       'benign', 'benign', 'malign', 'benign', 'benign', 'malign',
       'benign', 'benign', 'benign', 'benign', 'malign', 'benign',
       'malign', 'benign', 'benign', 'benign', 'benign', 'benign',
       'malign', 'malign', 'malign', 'benign', 'malign', 'malign',
       'malign', 'malign', 'malign', 'benign', 'benign', 'malign',
       'benign', 'benign', 'malign', 'malign', 'benign', 'benign',
       'benign', 'benign', 'malign', 'malign', 'benign', 'malign',
       'benign', 'malign', 'benign', 'malign', 'malign', 'benign',
       'benign', 'malign', 'malign', 'benign', 'malign', 'benign',
       'benign', 'benign', 'benign', 'benign', 'benign', 'benign',
       'benign', 'malign', 'malign', 'benign'], dtype=object)

In [8]:
y_pred= pd.DataFrame(y_pred,columns=['y_pred'])
y_pred.to_csv('Morales.csv',index=False)

In [7]:
y_pred

    y_pred
0   malign
1   benign
2   benign
3   benign
4   benign
..     ...
95  benign
96  benign
97  malign
98  malign
99  benign

[100 rows x 1 columns]